body {
    padding:0;
    margin:0;
    background-color:#202020;
    color: azure;
}
.list_box {
    width: 100%;
    text-align: center;
}
.crypto_list {
    float: left;
    overflow:hidden;
    list-style:none;
    border-right: 1px solid black;
    
}
.crypto_list li {
    border-bottom: 1px #707070 solid;
}
table tr th{
    text-align: center;
}
.container {
    padding-top:20px;
}
button {
    margin-top: 10px;
}

